.main-school {
    background-color: $GreenOclock;
    min-height: 800px;
    display: flex;
    box-sizing: border-box;
    height: 80vh;

    @media (max-width: $breakpoint-extra-large) {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

    }
}

.school-content {
    align-self: flex-end;
    width: 70%;
    box-sizing: border-box;
    background-color: $Grey;
    padding: 1.5em;
    margin-bottom: 5em;
    margin-right: 5em;
    margin-left: 5em;
    border-radius: 10px;

    @media (max-width: $breakpoint-extra-large) {
        margin-right: 1em;
        margin-left: 1em;
        width: 100%;
    }

    @media (max-width:$breakpoint-small) {
        margin: 0;
        width: 100%;
        border-radius: 0px;
    }


}

.school-title {
    box-sizing: border-box;
    font-family: $font-title;
    color: $Cream;
    font-size: 2em;
    padding-bottom: .8em;
    border-bottom: solid 6px $Red;

    
}

.school-picture  {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 50%;

    @media (max-width: $breakpoint-extra-large) {
        justify-content: center;
        max-height: 300px;
        width: 100%;
    }
}

.school-picture__link{
    box-sizing: border-box;

}

.school-picture__link img {
    margin-left: 5em;;
    height: auto;
    max-width: 100%;

    @media (max-width: $breakpoint-extra-large) {
        margin-left: 0;
    }
}

.school-text {
    line-height: 2em;
    margin-top: 1em;
    font-family: $font-text;
    color: $Cream;
    font-size: 1em;
}
